@import '../../../styles/mixins';

.Component {
  max-width: 100%;
  padding: 3rem 2rem;

  @include respond-to('medium') {
    max-width: 680px;
  }
  @include respond-to('large') {
    max-width: 900px;
  }
  @include respond-to('xlarge') {
    max-width: 1000px;
  }
}
