@import 'styles/constants';

.Component {
  width: 100%;
  text-decoration: none;
}

.Thumbnail {
  img {
    width: 100%;
    height: 12rem;
    border-bottom: 4px solid $primary-color;
  }
}

.Title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.HeroName {
  color: $dark-text-color;
  font-weight: 600;
}
